<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to Blogger <%= username %>!</p>
    <h2>Here is your post with postid = <%= postid %>.</h2>
    <h3>Title: <%= blog_post.title %></h3>
    <h3>Body: <%= blog_post.body %></h3>
  </body>
</html>
