
<div *ngIf="c_post">
    <form>
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="c_post.title" placeholder = "post_title" /> 
        </div>
        <div>
            <label for="body">Body:</label>
            <textarea id="body" name="body" [(ngModel)]="c_post.body" placeholder = "post_body"></textarea> 
        </div>
    </form>
    <p>Last Modified: {{c_post.modified}}</p>
        
    
    <button (click)="delete()">delete</button>
    <button (click)="save()">save</button>
    <button (click)="preview()">preview</button>
    
</div>
